color-primary = #031D44
color-secondary = #04395E
color-acccent-good = #70A288
color-accent-warn = #DAB785
color-accent-danger = #D5896F
color-contrast = #FFFFFF
color-light-gray = #EEEEEE
color-gray = #CCCCCC
color-dark-gray = #777777

padding-default = 15px